<%= form_with(model: trait, class: "contents text-left") do |form| %>
  <% if trait.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(trait.errors.count, "error") %> prohibited this trait from being saved:</h2>

      <ul class="list-disc ml-6">
        <% trait.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :type %>
    <%= form.text_field :type, list: "trait-types" %>
    <datalist id="trait-types">
      <% Trait.distinct.pluck(:type).compact.sort.each do |trait_type| %>
        <option value="<%= trait_type %>">
      <% end %>
    </datalist>
  </div>

  <%= form.label :cover,
      data: {
        controller: "asset-preview",
        action: "dragover->asset-preview#onDragOver dragleave->asset-preview#onDragLeave drop->asset-preview#onDrop paste->asset-preview#onPaste"
    }, class: "block" do %>
    <span class="text-left">Cover</span>
    <%= form.file_field :cover,
      direct_upload: true,
      data: {
        action: "change->asset-preview#update"
      },
      class: "w-full p-4 border border-dashed border-blue-500 bg-blue-500/5 hover:bg-blue-500/10 cursor-pointer#{(trait.cover.attached? ? ' sr-only' : "")}" %>

     <%= image_tag(url_for(trait.cover), id: "trait_cover_preview", class: "h-auto w-full object-cover") if trait.cover.present? %>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>


  <div class="my-5">
    <%= form.label :description %>
    <%= form.textarea :description, toolbar: false %>
  </div>

  <div class="my-5" data-controller="abilities-editor" data-abilities="<%= trait.abilities.to_json %>">
    <%= form.label :abilities %>

    <div class="mt-2">
      <div data-abilities-editor-target="container" class="space-y-2"></div>

      <button type="button"
              data-action="click->abilities-editor#addAbility">
        + Add Ability
      </button>
    </div>

    <template data-abilities-editor-target="template">
      <div class="ability-row">
        <input type="text"
               placeholder="Ability name"
               class="ability-key"
               required>
        <input type="text"
               placeholder="Description"
               class="ability-value"
               required>
        <button type="button"
                data-action="click->abilities-editor#removeAbility">
          Remove
        </button>
      </div>
    </template>
  </div>

  <div>
    <%= form.submit class: "btn" %>
  </div>
<% end %>
