<div id="<%= dom_id trait %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Type:</strong>
    <%= trait.type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= trait.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Slug:</strong>
    <%= trait.slug %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Abilities:</strong>
    <%= trait.abilities %>
  </div>
</div>
