<%= form_with(model: user, class: "contents text-left") do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul class="list-disc ml-6">
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :display_name, "Full Name" %>
    <%= form.text_field :display_name %>
  </div>

  <div class="my-5">
    <%= form.label :email %>
    <%= form.text_field :email, disabled: true, title: "Contact Nick or Marnie if you need to change your email!" %>
  </div>

  <div class="my-5">
    <%= form.label :bio,
      "What would you like #{
        Current.user.gm? ?
            "players"
          : "our event staff"
      } to know about you?"

    %>
    <%= form.rich_text_area :bio %>
  </div>

  <div class="inline">
    <%= form.submit "Save Preferences", class: "btn" %>
  </div>
<% end %>
