<div id="<%= dom_id hero %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= hero.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Pronouns:</strong>
    <%= hero.pronouns %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Role:</strong>
    <%= hero.role %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Traits:</strong>
    <%= hero.traits.map(&:name).join(", ") %>
  </div>
</div>
