<div id="<%= dom_id hero %>" class="space-y-3 text-left">
  <div>
    <%= image_tag(url_for(hero.portrait), class: "aspect-square object-cover object-top") if hero.portrait.present? %>
    <h3 class="font-semibold text-gray-900 text-lg"><%= hero.name %></h3>
    <p class="mt-1 text-gray-600 text-sm"><%= hero.pronouns %> • <%= hero.role.humanize %></p>
    <%= hero.summary %>
  </div>
  <div>
    <p class="mb-1 font-medium text-gray-700 text-sm">Traits:</p>
    <div class="flex flex-wrap gap-1">
      <% hero.traits.each do |trait| %>
        <span class="inline-block bg-gray-100 px-2 py-1 rounded-md text-gray-700 text-xs"><%= trait.name %></span>
      <% end %>
    </div>
  </div>
</div>
