<% content_for :title, @hero.name %>

<main class="w-full max-w-4xl mx-auto">
  <nav class="flex justify-center gap-3 p-4">
    <%= link_to "← Back to Heroes", heroes_path %>
    <%= link_to "Edit", edit_hero_path(@hero) if Current.user.admin? %>
    <%= button_to "Delete", @hero, class: "link", method: :delete, data: { turbo_confirm: "Are you sure you want to delete #{@hero.name}?" } if Current.user.admin? %>
  </nav>

  <article class="paper">
    <div class="text-left gap-6 flex max-sm:flex-col">
      <figure class="md:flex-1 w-full h-64 bg-stone-100 border-4 border-white shadow-md"></figure>

      <div class="md:flex-[2] space-y-4">
        <h1 class="text-3xl font-bold text-gray-900 mb-2"><%= @hero.name %></h1>
        <p class="text-sm text-stone-500"><%= @hero.pronouns %> • <%= @hero.traits.map(&:name).join(" • ") %> • <%= @hero.role.humanize %></p>

        <%= @hero.backstory %>
      </div>
    </div>

    <div class="grid sm:grid-cols-3 justify-center border-t-2 border-current/20 pt-4 *:first:-rotate-1 *:last:rotate-1 *:last:-z-[1] *:shadow-md">
      <%= render @hero.traits %>
    </div>
  </article>
</main>
