<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Counterspell Games" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "lexxy" %>

    <%= javascript_importmap_tags %>

    <% if Rails.env.production? %>
      <script defer src="https://api.pirsch.io/pa.js" id="pianjs" data-code="oKRec8iQLQgKJr21uIOfvES9jNpmrB3P"></script>
    <% end %>
  </head>

  <body class="font-serif text-center text-blue-900 min-h-screen flex flex-col gap-8 bg-amber-50 p-6">

    <header class="flex flex-col justify-center items-center gap-2">
      <%= link_to events_path, class: "block h-20" do %>
        <%= image_tag "counterspell-icon.svg", class: "h-full drop-shadow rotate-0 transition-transform transition-discrete transition-[filter] hover:rotate-3 hover:scale-110 hover:drop-shadow-lg" %>
      <% end %>

      <% if authenticated? %>
        <nav class="justify-self-end flex gap-4">
          <%= link_to "Admin Dash", dashboard_path if Current.user.admin? %>
          <%= link_to "Profile", edit_user_path(Current.user) %>
          <%= button_to "Logout", session_path, method: :delete, class: "inline link" %>
        </nav>
      <% end %>
    </header>

    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block self-center" id="notice"><%= notice %></p>
    <% end %>

    <%= yield %>

    <footer class="text-center text-xs mt-auto md:flex justify-center gap-2">
      <p>&copy;2025 Counterspell Games LLC, all rights reserved.</p>
      <nav class="flex gap-1.5">
        <% Page.all.each do |t| %>
          <%= link_to t.title, page_path(t) %>
        <% end %>
      </nav>
    </footer>
  </body>
</html>
